.header-container {
  margin-bottom: 16px;
  text-align: center;

  .dialog-title {
    font-size: 24px;
    font-weight: bold;
  }

  .dialog-description {
    font-size: 16px;
    color: #666;
  }
}

.tweet-card {
  max-width: 400px;
  margin-bottom: 16px;

  .tweet-avatar {
    background-color: #2196f3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .tweet-author {
    font-weight: bold;
  }

  .tweet-username {
    color: #666666;
  }

  .tweet-content {
    margin-top: 8px;
  }

  .tweet-actions {
    display: flex;
    justify-content: flex-end;
  }

  .tweet-header {
    display: flex;
    align-items: center;

    .tweet-author {
      font-weight: bold;
      margin-right: 8px;
    }
  }
}

.additional-element {
  mat-slider {
    width: 100%;
  }
}

.font-size-slider {
  .mdc-slider__tick-mark--active,
  .mdc-slider__tick-mark--inactive {
    height: var(--mdc-slider-with-tick-marks-container-size, 10px) !important;
    width: var(--mdc-slider-with-tick-marks-container-size, 10px) !important;
  }
}

.mat-button-toggle-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;

  .mat-button-toggle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      color: white;

      &.hidden {
        visibility: hidden;
      }
    }
  }
}

.background-color {
  .check-wrapper {
    border: 2px solid rgb(92, 110, 126);
    border-radius: 50%;

    mat-icon {
      color: aqua;
    }
  }

  mat-button-toggle {
    border-radius: 4px !important;
    border: 2px solid rgb(92, 110, 126);
  }
}

// over ride display content dialog color
.mat-mdc-dialog-container .mdc-dialog__content {
  color: black !important; /* Reset color to black */
}
