<div class="wrapper">
  <app-top-bar></app-top-bar>
  <p>home works!</p>
</div>

<!-- <div class="header__floating-row--top">
    <div class="header-top-width-wrapper">
      <div class="header-top-position-wrapper">
        <div class="header-top-wrapper">
          <div class="user-profile-img">
            <img class="account-img" src="assets\profile-picture.jpeg" alt="user profile img" />
          </div>
        </div>
      </div>
    </div>
  </div> -->

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">
    <mat-icon>check_sign</mat-icon>
    <span class="theme-name">Bold</span>
  </mat-button-toggle>
  <mat-button-toggle value="italic">
    <mat-icon>check_sign</mat-icon>
    <span class="theme-name">Italic</span>
  </mat-button-toggle>
  <mat-button-toggle value="underline">
    <mat-icon>check_sign</mat-icon>
    <span class="theme-name">Underline</span>
  </mat-button-toggle>
</mat-button-toggle-group>

<button>
  <span class="icon">
    <mat-icon>check_sign</mat-icon>
  </span>
  <span class="text"> somthing </span>
</button>


<div class="container">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
</div>