// styles for small screen

.floating-row-top {
  // display: none;
  // z-index: 2;
  // position: fixed;
  border: 1px solid black;
  height: 53px;
  backdrop-filter: blur(12px);
  transition-duration: 350ms;
  background-color: rgba(255, 255, 255, 0.85);

  top: -0.5px;
  position: sticky;
  z-index: 10;

  .content-wrapper {
    padding: 0 16px;
    .content {
      display: flex;
      align-items: center;
      .header-toggle-wrapper {
        width: 56px;
        height: 53px;
        display: flex;
        align-items: center;
        .header-toggle {
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 0;
          .account-img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
      .twitter-logo-wrapper {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        .twitter-logo {
          border: 0;
          .logo {
            width: 1.75rem;
            fill: rgb(29, 155, 240);
          }
        }
      }
      .setting-wrapper {
        width: 56px;
        height: 53px;
      }
    }
  }
}

.account-img,
.logo {
  width: 50px;
}

@media screen and (max-height: 500px), (max-width: 500px) {
  .floating-row-top.scrolled {
    transform: translate3d(0px, 0px, 0px) translateY(-53px);
  }
}
